extends layout

block content
  form(action='#{retailer.retailer_name}/modify_name')
    h1 #{retailer.retailer_name}
    input(type="text", name="retailer_name" placeholder="New retailer name")
    input(type="submit")
  //-
  //-
  //- Main 'modify' section starts
  form(action="#{retailer.retailer_name}", method="post")
    if (retailer.website_url)
      a(href=retailer.website_url id="website_url"  class="data" target="_blank") Website
      div(id="change_website_url" class="edit") edit
    else
      | No web URL; add one:
      input(type="text", name="website_url")
    br
    | Address: 
    br
    if (retailer.address_field)
      div(id="address_field" class="data") #{retailer.address_field}
      div(id="change_address" class="edit") edit
    else
      | none exist; add:
      input(type="text", name="address_field")
    br
    if (retailer.location_url)
      a(href=retailer.location_url id="location_url") Location on map
      div(id="change_location_url" class="edit") edit
    else
      | No location URL; add: 
      input(type="text", name="location_url")
    br
    if (retailer.img_url_square)
      img(src=retailer.img_url_square id="img_url_square")
      div(id="change_img_url_square" class="edit") edit
    else
      | No image URL; add(square, 160x160?): 
      input(type="text", name="img_url_square")
    br
    | Comments: 
    if (retailer.comments)
      div(id="comments" class="data") #{retailer.comments}
      div(id="change_comments" class="edit") edit
    else
      | none exists; add:
      input(type="text", name="comments", id="comments")
    br
    input(type="submit")
    br
  //- Main 'modify' section ends
  //-
  //-
  //- Brands start
  | Brands they sell:
  ul 
    each brand in linked_brands
      li
        | #{brand.brand_name}
        div(class="destroy")
          a(href=retailer.retailer_name + "/brand/" + brand.id) x
  form(action="#{retailer.retailer_name}/choose_brand", method="post")
    | Associate a brand with this retailer: 
    select(name="brand_id", id="brand_id")
      each brand in brands
        option(value=brand.id) #{brand.brand_name}
    input(type="submit")
    br
  form(action="#{retailer.retailer_name}/add_brand", method="post")
    | Add a new brand
    input(type="text", name="new_brand")
    input(type="submit")
  //- Brands end 
  //-
  //-
  //- Social Links start
  | Social Links:
  ul
    each link in social_links
      li
        | #{link.link}
        div(class="destroy")
          a(href=retailer.retailer_name + "/slink/" +link.id) x
          //- TODO use "cross" instead of an 'x'
  form(action="#{retailer.retailer_name}/add_slink", method="post")
    | Add a social link: 
    input(type="text", name="social_link")
    input(type="submit")
  //- Social Links end
  //-
  //-
  //- Phone numbers start
  form(action="#{retailer.retailer_name}/add_phone", method="post")
    | Add a phone number: 
    input(type="text", name="phone_number")
    input(type="submit")
    ul
      each number in numbers
        li
          | #{number.number}
          div(class="destroy")
            a(href=retailer.retailer_name + "/number/" + number.id) x
  //- TODO: add mobile-compatible phone numbers
  //- Phone numbers end
  //-
  //-
  //- Emails start
  form(action="#{retailer.retailer_name}/add_email", method="post")
    | Add an email: 
    input(type="text", name="email")
    input(type="submit")
    ul
      each email in mails 
        li
          | #{email.email}
          div(class="destroy")
            a(href=retailer.retailer_name + "/email/" + email.id) x
  //- Emails end
  //-
  //-
  //- Tags start
  | Tags associated with this retailer:
  ul 
    each tag in linked_tags
      li
        | #{tag.tag_name}
        div(class="destroy")
          a(href=retailer.retailer_name + "/tag/" + tag.id) x
  form(action="#{retailer.retailer_name}/choose_tag", method="post")
    | Associate an activity tag with this retailer: 
    select(name="tag_id", id="tag_id")
      each tag in tags
        option(value=tag.id) #{tag.tag_name}
    input(type="submit")
    br
  form(action="#{retailer.retailer_name}/add_tag", method="post")
    | Add a new tag
    input(type="text", name="new_tag")
    input(type="submit")
  //- Tags end 
  //-
  //-
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src='/js/retailer.js')
