extends layout

block content
  h1 #{retailer.retailer_name}
  form(action="#{retailer.retailer_name}", method="post")
    if (retailer.website_url)
      a(href=retailer.website_url) website
    else
      | No web URL; add one:
      input(type="text", name="website_url")
    br
    | Address: 
    if (retailer.address_field)
      | #{retailer.address_field}
    else
      | none exist; add:
      input(type="text", name="address_field")
    br
    if (retailer.address_landmark)
      | near #{retailer.address_landmark}
    else
      | no landmark; add one:
      input(type="text", name="address_landmark")
    br
    if (retailer.location_url)
      a(href=retailer.location_url) Location on map
    else
      | No location URL; add: 
      input(type="text", name="location_url")
    br
    | phone 1: 
    if (retailer.phone_primary)
      | #{retailer.phone_primary}
    else
      | none exists; add:
      input(type="text", name="phone_primary", id="phone_primary")
    br
    | phone 2: 
    if (retailer.phone_secondary)
      | #{retailer.phone_secondary}
    else
      | none exists; add:
      input(type="text", name="phone_secondary", id="phone_secondary")
    br
    | phone 3: 
    if (retailer.phone_tertiary)
      | #{retailer.phone_tertiary}
    else
      | none exists; add:
      input(type="text", name="phone_tertiary", id="phone_tertiary")
    br
    | Email: 
    if (retailer.retailer_email)
      | #{retailer.retailer_email}
    else
      | none exists; add:
      input(type="text", name="retailer_email", id="retailer_email")
    br
    | Comments: 
    if (retailer.comments)
      | #{retailer.comments}
    else
      | none exists; add:
      input(type="text", name="comments", id="comments")
    br
    ul
      each link in social_links
        li
          | #{link.link}
    | Add a social link: 
    input(type="text", name="social_link")
    br
    input(type="submit")
    br
  ul Brands they sell:
    each lbrand in linked_brands
      li
        | #{lbrand.brand_name}
  form(action="#{retailer.retailer_name}/choose_brand", method="post")
    | Associate a brand with this retailer: 
    select(name="brand_id", id="brand_id")
      each brand in brands
        option(value=brand.id) #{brand.brand_name}
    input(type="submit")
    br
  form(action="#{retailer.retailer_name}/add_brand", method="post")
    | Add a new brand
    input(type="text", name="new_brand")
    input(type="submit")
    br
  ul Tags associated with this retailer:
    each ltag in linked_tags
      li
        | #{ltag.tag_name}
  form(action="#{retailer.retailer_name}/choose_tag", method="post")
    | Associate an activity tag with this retailer: 
    select(name="tag_id", id="tag_id")
      each tag in tags
        option(value=tag.id) #{tag.tag_name}
    input(type="submit")
    br
  form(action="#{retailer.retailer_name}/add_tag", method="post")
    | Add a new tag
    input(type="text", name="new_tag")
    input(type="submit")
