extends layout

block content
  h1 #{retailer.retailer_name}
  form(action="#{retailer.retailer_name}", method="post")
    a(href=retailer.website_url) website
    br
    | Address: #{retailer.address_field}
    br
    | near #{retailer.address_landmark}
    br
    a(href=retailer.location_url) Location on map
    br
    | phone 1: 
    if (retailer.phone_primary)
      | #{retailer.phone_primary}
    else
      | none exists; add:
      input(type="text", name="phone_primary", id="phone_primary")
    br
    | phone 2: 
    if (retailer.phone_secondary)
      | #{retailer.phone_secondary}
    else
      | none exists; add:
      input(type="text", name="phone_secondary", id="phone_secondary")
    br
    | phone 3: 
    if (retailer.phone_tertiary)
      | #{retailer.phone_tertiary}
    else
      | none exists; add:
      input(type="text", name="phone_tertiary", id="phone_tertiary")
    br
    | Email: 
    if (retailer.retailer_email)
      | #{retailer.retailer_email}
    else
      | none exists; add:
      input(type="text", name="retailer_email", id="retailer_email")
    br
    | Comments: 
    if (retailer.comments)
      | #{retailer.comments}
    else
      | none exists; add:
      input(type="text", name="comments", id="comments")
    br
    input(type="submit")
