extends ../layout

block meta
  include meta_layout
  - if(mode == 'all_tag_all_loc' || mode == 'all_tag_cho_loc')
      - if(city)
          meta(name="description" content="Find information about all outdoor and adventure events and races in " + city.city_name)
          meta(property="og:description" content="Find information about and adventure events and races in " + city.city_name)
          meta(name="twitter:description" content="Find information about and adventure events and races in " + city.city_name)
      - else
          meta(name="description" content="Find detailed information about all events across India, in outdoor sports like running, cycling, surfing, rock climbing, paragliding, kayaking ...")
          meta(property="og:description" content="Find detailed information about all events across India, in outdoor sports like running, cycling, surfing, rock climbing, paragliding, kayaking ...")
          meta(name="twitter:description" content="Find detailed information about all events across India, in outdoor sports like running, cycling, surfing, rock climbing, paragliding, kayaking ...")
  - else if (mode == 'cho_tag_all_loc')
      meta(name="description" content="Find detailed information about all " + tag.tag_name + " events and races across India")
      meta(property="og:description" content="Find detailed information about all " + tag.tag_name + " events and races across India")
      meta(name="twitter:description" content="Find detailed information about all " + tag.tag_name + " events and races across India")
  - else
      meta(name="description" content="Find detailed information about all " + tag.tag_name + " events and races in " + city.city_name)
      meta(name="twitter:description" content="Find detailed information about all " + tag.tag_name + " events and races in " + city.city_name)
      meta(property="og:description" content="Find detailed information about all " + tag.tag_name + " events and races in " + city.city_name)
  meta(property="og:image" content="https://c2.staticflickr.com/8/7615/16942465932_032fa89386_b.jpg")
  meta(name="twitter:image:src" content="https://c2.staticflickr.com/8/7615/16942465932_032fa89386_b.jpg")
  meta(property="og:url" content="http://www.indiaoutside.org/events/upcoming")

block content
  include event_filter_bar
  .filter-margin
  .row
    .col-md-8
      .heading.text-center
        h1.md= title_
      .row
        .category-list
            - if((races) && (races != ''))
                each race in races
                  div.col-md-6
                    .category-el.b-l-4.clearfix
                      .info-media.clearfix
                        .col-xs-8.info-box
                          .info-box-sub
                            a(href="/events/" + race.City.city_name_slug + "/" + race.event_name_slug + "/" + race.id)
                              h2.sm #{race.event_name}
                            .city
                              span.fa.fa-map-marker.helper
                              | #{race.City.city_name}
                            span.fa.fa-calendar.date.helper
                            span.date_value
                              | #{race.dataValues.start_date_f}
                        .col-xs-4.img-pre.clearfix
                          - if(race.img_url_square)
                              a(href="/events/" + race.City.city_name_slug + "/" + race.event_name_slug + "/" + race.id)
                                img.right.b-l-1(src=race.img_url_square alt=race.event_name height="100px")
                          - else
                              a(href="/events/" + race.City.city_name_slug + "/" + race.event_name_slug + "/" + race.id)
                                i.fa.fa-flag.right.b-l-1.img-alt
                      .tags.clearfix.border-top-gray
                        each tag in race.EventTags
                          li.tag
                            | #{tag.Tag.tag_name}
                        each subtag in race.EventSubtags
                          li.subtag
                            | #{subtag.Subtag.subtag_name}
                div.col-md-6
                  .category-el.b-l-4.clearfix
                    .info-media.clearfix
                      .col-xs-8.info-box
                        .info-box-sub
                          a(href="/events/event_form" target="_blank")
                            h2.sm(title="An outdoor sports event/race") Did we miss something? Add an event/race
                      .col-xs-4.img-pre.clearfix
                        a(href="/events/event_form" target="_blank")
                          i.fa.fa-flag.right.b-l-1.img-alt
                    .tags.clearfix.border-top-gray
            - else if((event_tags) && (event_tags != ''))
                each event_tag in event_tags
                  div.col-md-6
                    .category-el.b-l-4.clearfix
                      .info-media.clearfix
                        .col-xs-8.info-box
                          .info-box-sub
                            a(href="/events/" + event_tag.Event.City.city_name_slug + "/" + event_tag.Event.event_name_slug + "/" + event_tag.Event.id)
                              h2.sm #{event_tag.Event.event_name}
                            .city
                              span.fa.fa-map-marker.helper
                              | #{event_tag.Event.City.city_name}
                            span.fa.fa-calendar.date.helper
                            span.date_value
                              | #{event_tag.Event.dataValues.start_date_f}
                        .col-xs-4.img-pre.clearfix
                          - if(event_tag.Event.img_url_square)
                              a(href="/events/" + event_tag.Event.City.city_name_slug + "/" + event_tag.Event.event_name_slug + "/" + event_tag.Event.id)
                                img.right.b-l-1(src=event_tag.Event.img_url_square alt=event_tag.Event.event_name height="100px")
                          - else
                              a(href="/events/" + event_tag.Event.City.city_name_slug + "/" + event_tag.Event.event_name_slug + "/" + event_tag.Event.id)
                                i.fa.fa-flag.right.b-l-1.img-alt
                      .tags.clearfix.border-top-gray
                        li.tag
                          | #{tag.tag_name}
                        each subtag in event_tag.Event.EventSubtags
                          li.subtag
                            | #{subtag.Subtag.subtag_name}
                div.col-md-6
                  .category-el.b-l-4.clearfix
                    .info-media.clearfix
                      .col-xs-8.info-box
                        .info-box-sub
                          a(href="/events/event_form" target="_blank")
                            h2.sm(title="An outdoor sports event/race") Did we miss something? Add an event/race
                      .col-xs-4.img-pre.clearfix
                        a(href="/events/event_form" target="_blank")
                          i.fa.fa-flag.right.b-l-1.img-alt
                    .tags.clearfix.border-top-gray
            - else
              .col-md-12
                p.alert.alert-warning.text-center.br-0.std-shadow.fs-16
                    | Oops! We did not find anything. Sorry. 
                    a#user-res.pointer Tip us
                    |  about events or races we don't know of!
      .dialog-screen
      .dialog-container.col-md-4.col-md-offset-4#user-form
        .dialog-head-container.clearfix.text-center
          span.dialog-head.fs-16.uppercase.inline-block.padding-tb-10
            | We don't know, please tell us.
          span.dialog-close.right.fs-18.pointer
            i.fa.fa-times
        .dialog-body
            form.fs-12(action="/events/user_submission" method="post")
              label.block.fs-12.normal(for="event_name") Name of the event/race *
              input.full.padding-lr-5(type="text", name="event_name", id="event_name" required)
              br
              label.block.fs-12.normal.margin-t-10(for="dates") Dates *
              input.full.padding-lr-5(type="text", name="dates", id="dates" placeholder="When does it start? When does it end?" required)
              br
              label.block.fs-12.normal.margin-t-10(for="location") Location/City *
              input.full.padding-lr-5(type="text", name="location", id="location" placeholder="Where is it gonna be held?" required)
              br
              label.block.fs-12.normal.margin-t-10(for="event_url") Website Link
              input.full.padding-lr-5(type="text", name="event_url", id="event_url")
              br
              label.block.fs-12.normal.margin-t-10(for="location_url") Google Maps Link
              input.full.padding-lr-5(type="text", name="location_url", id="location_url")
              br
              label.block.fs-12.normal.margin-t-10(for="description" ) Description
              textarea.full.padding-lr-5(type="text", name="description", id="description", placeholder="Any additional information, like organiser, sponsors, relevant links, emails, phone numbers and other details" style="height: 5em;")
              br
              label.block.fs-12.normal.margin-t-10(for="email") Your E-mail
              input.full.padding-lr-5.margin-b-10(type="text", name="email", id="email" placeholder="Optional")
              br
              input(type="submit")
      .row
        .col-md-12
          .sub-heading.text-center.margin-b-10 Suggestions
        .suggestion-container
          //-.col-md-6
          //-  a(href="todo")
          //-    .category-el
          //-      .info.clearfix
          //-        .info-text.col-xs-12
          //-          span.number.padding-lr-5.uppercase.fs-12.bob.padding-tb-5
          //-            | Stores Online
          //-        .info-overlay
          - if((mode == "cho_tag_cho_loc") || (mode == "all_tag_cho_loc"))
            - if(mode == "cho_tag_cho_loc")
              .col-md-6
                a(href="/events/upcoming/grouped?activity=" + tag.id title="All " + tag.tag_name + " events and races by location")
                  .category-el
                    .info.clearfix(style="background-image: url(" + tag.image_url + ");")
                      .right
                        i.fa.fa-flag.helper-icon
                      .info-text.col-xs-12
                        span.number.padding-lr-5.uppercase.fs-12.bob.padding-tb-5
                          | All #{tag.tag_name} events
                      .info-overlay
            .col-md-6
              a(href="/events/upcoming/grouped?location=" + city.id title="All events and races in " + city.city_name + " by activity")
                .category-el
                  .info.clearfix(style="background-image: url(" + city.image_url + ");")
                    .right
                      i.fa.fa-flag.helper-icon
                    .info-text.col-xs-12
                      span.number.padding-lr-5.uppercase.fs-12.bob.padding-tb-5
                        | Events in #{city.city_name}
                    .info-overlay
            .col-md-6
              a(href="/gear/grouped?location=" + city.id title="All Outdoor gear stores and retailers in " + city.city_name)
                .category-el
                  .info.clearfix(style="background-image: url(" + city.image_url + ");")
                    .right
                      i.fa.fa-gear.helper-icon
                    .info-text.col-xs-12
                      span.number.padding-lr-5.uppercase.fs-12.bob.padding-tb-5
                        | Stores in #{city.city_name}
                    .info-overlay
            .col-md-6
              a(href="/schools/grouped?location=" + city.id, title="All Outdoor schools in " + city.city_name)
                .category-el
                  .info.clearfix(style="background-image: url(" + city.image_url + ");")
                    .right
                      i.fa.fa-building-o.helper-icon
                    .info-text.col-xs-12
                      span.number.padding-lr-5.uppercase.fs-12.bob.padding-tb-5
                        | Learn in #{city.city_name}
                    .info-overlay
            .col-md-6
              a(href="/groups/grouped?location=" + city.id title="All Active Outdoor groups in " + city.city_name)
                .category-el
                  .info.clearfix(style="background-image: url(" + city.image_url + ");")
                    .right
                      i.fa.fa-group.helper-icon
                    .info-text.col-xs-12
                      span.number.padding-lr-5.uppercase.fs-12.bob.padding-tb-5
                        | Groups in #{city.city_name}
                    .info-overlay
          - if((mode == "all_tag_all_loc") || (mode == "cho_tag_all_loc") || (mode == "all_tag_cho_loc"))
            .col-md-6
              a(href="/events/upcoming/grouped" title="All Events and Races by Activity")
                .category-el
                  .info.clearfix.all-tag-bg
                    .right
                      i.fa.fa-flag.helper-icon
                    .info-text.col-xs-12
                      span.number.padding-lr-5.uppercase.fs-12.bob.padding-tb-5
                        | All Events by Activity
                    .info-overlay
            .col-md-6
              a(href="/events/upcoming/grouped#by-location" title="All Events and Races by Location")
                .category-el
                  .info.clearfix.all-loc-bg
                    .right
                      i.fa.fa-flag.helper-icon
                    .info-text.col-xs-12
                      span.number.padding-lr-5.uppercase.fs-12.bob.padding-tb-5
                        | All Events by Location
                    .info-overlay
    .col-md-4
      include featured
      include social_display
block extrajs
  script(src="/js/user_form.min.js")
