extends ../layout

block nav_element_list
  li
    a(href='/app/home') Home
  li(class="active")
    a(href='/app/events/upcoming') Events
  li
    a(href='/app/gear') Gear 
  li(class="social-icon")
    a(href='TODO')
      i(class="fa fa-twitter")
      span(class="hide-for-small")  
  li(class="social-icon")
    a(href='TODO')
      i(class="fa fa-facebook")
      span(class="hide-for-small") 

block content
  include event_filter_bar
  .heading
    h1= title_
  .category-list
    - if(races)
        each race in races
          div.category-el
            each tag in race.EventTags
              li.tag
                | #{tag.Tag.tag_name}
            each subtag in race.EventSubtags
              li.subtag
                | #{subtag.Subtag.subtag_name}
            a(href="/app/events/" + race.City.city_name + "/" + race.id)
              h2 #{race.event_name}
            .city
              | #{race.City.city_name}
            span(class="fa fa-calendar date") 
            span.date_value
              | #{race.dataValues.start_date_f}
    - if(event_tags)
        each event_tag in event_tags
          div.event-el
            li.tag
              | #{tag.tag_name}
            each subtag in event_tag.Event.EventSubtags
              li.subtag
                | #{subtag.Subtag.subtag_name}
            a(href="/app/events/" + event_tag.Event.City.city_name + "/" + event_tag.Event.City.id + "/" + event_tag.Event.id)
              h2 #{event_tag.Event.event_name}
            .city
              | #{event_tag.Event.City.city_name}
            span(class="fa fa-calendar date") 
            span.date_value
              | #{event_tag.Event.dataValues.start_date_f}
