doctype html

html(lang='en')
  head
    title= title
    link(href="/application.css" rel="stylesheet")
    link(rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css")
  body
    div(class="navbar navbar-default navbar-fixed-top" role="navigation")
      div(class="container")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="/") India Outside
        div(class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            li
              a(href='/') Home
            li(class="active")
              a(href='/events') Events
            li
              a(href='TODO') Gear 
            li(class="social-icon")
              a(href='TODO')
                i(class="fa fa-twitter")
                span(class="hide-for-small")  
            li(class="social-icon")
              a(href='TODO')
                i(class="fa fa-facebook")
                span(class="hide-for-small") 
    div(class="container")
      div(class="jumbotron col-md-12")
        h1= h1_title
        div(class="filter-bar col-md-12")
          h2 Races and Events!
          form(class="search")
            input(class="form-control col-md-3" type="text" name="activitytype" placeholder="e.g. surfing")
            input(class="form-control col-md-3" type="text" name="location" placeholder="e.g. Goa")
            .cal.col-md-3
              span(class="fa fa-calendar") 
              input(class="form-control" type="text" name="start_date" placeholder="e.g. 4 December 2014" id="from")
            .cal.col-md-3
              span(class="fa fa-calendar") 
              input(class="form-control" type="text" name="end_date" placeholder="e.g. 12 January 2015" id="to")
        .events-list.col-md-12
          ul
          each race in races
            li.event-el
              a(href='todo')
                h3 #{race.event_name}
              br
              |  starts #{race.start_date}
              | - ends #{race.end_date}
              br
              | #{race.CityId}
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
    script(src="/js/bootstrap.js")
    script
      | $(function() {
      |   $( "#from" ).datepicker({
      |     dateFormat: "dd/mm/yy",
      |     onClose: function(selectedDate) {
      |       $("#to").datepicker("option", "minDate", selectedDate); 
      |     }
      |   });
      |   $( "#to" ).datepicker({
      |     dateFormat: "dd/mm/yy",
      |     onClose: function(selectedDate) {
      |       $("#from").datepicker("option", "maxDate", selectedDate); 
      |     }
      |   });
      | });
    script(src="/ie10-viewport-bug-workaround.js TODO")
    script(src="/ie-emulation-modes-warning.js TODO")
