.filter-bar
  form(class="search form-inline" action="/events/upcoming")
    .form-group
      label.sr-only(for='event_activity') Activity
      select(class="form-control" name="activity" id="event_activity")
        - if(activity == null || activity == '' || activity == 0)
            option(value=0 selected="selected") All Activities
        - else 
            option(value=0) All Activities
        each tag in tags 
          - if(activity == tag.id)
              option(value=tag.id selected="selected") #{tag.tag_name}
          - else
              option(value=tag.id) #{tag.tag_name}
    .form-group
      label.sr-only(for='event_location') Location
      select(class="form-control" name="location" id="event_location")
        - if(loc == null || loc == '' || loc == 0)
            option(value=0 selected="selected") All Locations
        - else 
            option(value=0) All Locations
        each city in cities
          - if(loc == city.id)
              option(value=city.id selected="selected") #{city.city_name}
          - else
              option(value=city.id) #{city.city_name}
    .form-group
      label.sr-only(for="when") From
      .input-group
        .input-group-addon
          span.fa.fa-calendar
        - if((date == null) || (date ==''))
          input(class="form-control" type="text" name="date" placeholder="when" id="when")
        - else
          input(class="form-control" type="text" value=date name="date" placeholder="when" id="when")
    button(type="submit" class="btn btn-warning ") Go! 
