extends ../layout

block content
  include gear_filter_bar
  .filter-margin
  .heading.text-center
    - if(group_mode == 'all_tag_all_loc' || group_mode == 'all_tag_cho_loc')
        h1.md All Outdoor Gear Retailers and Stores 
          - if(city)
              | in #{city.city_name}
          -else
              | across India
    - else if (group_mode == 'cho_tag_all_loc')
        h1.md All #{tag.tag_name} Gear Retailers and Stores across India
    - else
        h1.md ERROR!
  .row
    - if(group_mode == 'all_tag_all_loc')
      .sub-heading.text-center
        | By Activity
    .category-list
      - if(group_mode == 'all_tag_all_loc' || group_mode == 'all_tag_cho_loc')
          each tag in tags
            - if(tag.retailer_count > 0)
                .col-md-4
                  a(href=city ? "/gear?activity=" + tag.id + "&location=" + city.id : "/gear/grouped?activity=" + tag.id + "&location=0", title=city ? "All " + tag.tag_name + " gear stores and retailers in " + city.city_name : "All " + tag.tag_name + " gear stores and retailers across India")
                    .category-el
                      .info.clearfix(style="background-image: url(" + tag.image_url + ");")
                        .info-text.col-xs-12
                          h2.sm.uppercase.bob.absolute.padding-tb-5.padding-lr-10
                            span.block.fs-16.padding-b-5
                              | #{tag.tag_name}
                            span.number.uppercase.block.fs-12
                              | #{tag.retailer_count} STORE
                              - if(tag.retailer_count > 1)
                                | S
                              - if(city)
                                |  IN #{city.city_name}
                        .info-overlay
      - else
          each city in cities
            -if(city.retailer_count > 0)
                .col-md-4
                  a(href="/gear?activity=" + tag.id + "&location=" + city.id, title="All " + tag.tag_name + " gear stores and retailers in " + city.city_name)
                    .category-el
                      .info.clearfix(style="background-image: url(" + city.image_url + ");")
                        .info-text.col-xs-12
                          h2.sm.uppercase.bob.absolute.padding-tb-5.padding-lr-10
                            span.block.fs-16.padding-b-5
                              | #{city.city_name}
                            span.number.uppercase.block.fs-12
                              | #{city.retailer_count} #{tag.tag_name} STORE
                              - if(city.retailer_count > 1)
                                | S
                        .info-overlay
  - if(group_mode == 'all_tag_all_loc')
    span.anchor#by-location
    .row
        .sub-heading.text-center
          | By Location
        .category-list
          each city in cities
            -if(city.retailer_count > 0)
                .col-md-4
                  a(href="/gear/grouped?location=" + city.id, title="All gear stores and retailers in " + city.city_name)
                    .category-el
                      .info.clearfix(style="background-image: url(" + city.image_url + ");")
                        .info-text.col-xs-12
                          h2.sm.uppercase.bob.absolute.padding-tb-5.padding-lr-10
                            span.block.fs-16.padding-b-5
                              | #{city.city_name}
                            span.number.uppercase.block.fs-12
                              | #{city.retailer_count} STORE
                              - if(city.retailer_count > 1)
                                | S
                        .info-overlay
