extends ../layout

block content
  include gear_filter_bar
  .filter-margin
  .row
    .col-md-12
      .heading.text-center
        h1.sm= title_
      .category-list.row
        - if((retailers) && (retailers != '')) 
            each retailer in retailers
              .col-md-4
                .category-el.b-l-4.clearfix
                  .info-media.clearfix
                    .info-box.col-xs-8
                      .info-box-sub
                        a(href="/app/gear/" + retailer.City.city_name + "/" + retailer.retailer_name_slug + "/" + retailer.id)
                          h2.sm #{retailer.retailer_name}
                        .city
                          span.fa.fa-map-marker.helper
                          | #{retailer.City.city_name}
                    .img-pre.col-xs-4.clearfix
                      - if(retailer.img_url_square)
                          a(href="/app/gear/" + retailer.City.city_name + "/" + retailer.retailer_name_slug + "/" + retailer.id)
                            img.right.b-l-1(src=retailer.img_url_square alt=retailer.retailer_name height="100px")
                      - else
                          a(href="/app/gear/" + retailer.City.city_name + "/" + retailer.retailer_name_slug + "/" + retailer.id)
                            img.right.b-l-1(src="http://www.alluserpics.com/data/media/29/00857.jpg" alt=retailer.retailer_name height="100px")
                  .tags.clearfix.border-top-gray
                    each tag in retailer.GearTags
                      li.tag
                        | #{tag.Tag.tag_name}
        - else if((gear_tags) && (gear_tags != ''))
            each gear_tag in gear_tags
              .col-md-4
                .category-el.b-l-4.clearfix
                  .info-media.clearfix
                    .infobox.col-xs-8
                      .info-box-sub
                        a(href="/app/gear/" + gear_tag.Retailer.City.city_name + "/" + gear_tag.Retailer.retailer_name_slug + "/" + gear_tag.Retailer.id)
                          h2.sm #{gear_tag.Retailer.retailer_name}
                        .city
                          span.fa.fa-map-marker.helper
                          | #{gear_tag.Retailer.City.city_name}
                    .img-pre.col-xs-4.clearfix
                      - if(gear_tag.Retailer.img_url_square)
                          a(href="/app/gear/" + gear_tag.Retailer.City.city_name + "/" + gear_tag.Retailer.retailer_name_slug + "/" + gear_tag.Retailer.id)
                            img.right.b-l-1(src=gear_tag.Retailer.img_url_square alt=gear_tag.Retailer.retailer_name height="100px")
                      - else
                          a(href="/app/gear/" + gear_tag.Retailer.City.city_name + "/" + gear_tag.Retailer.retailer_name_slug + "/" + gear_tag.Retailer.id)
                            img.right.b-l-1(src="http://www.alluserpics.com/data/media/29/00857.jpg" alt=gear_tag.Retailer.retailer_name height="100px")
                  .tags.clearfix.border-top-gray
                    li.tag
                      | #{tag.tag_name}
        - else
          .col-md-12
            p.alert.alert-warning.text-center.br-0.std-shadow.fs-16
                | Oops! We did not find anything. Sorry.
  .row
    .sub-heading.text-center Suggestions
    .suggestion-container
      //-.col-md-4
      //-  a(href="todo")
      //-    .category-el
      //-      .info.clearfix
      //-        .info-text.margin-top-90.col-xs-12
      //-          span.number.uppercase.fs-12.bob.padding-tb-5
      //-            | Stores Online
      //-        .info-overlay
      - if(mode == "cho_tag_cho_loc")
        .col-md-4
          a(href="/app/gear/grouped?location=" + city.id title="All stores in " + city.city_name + " by activity")
            .category-el
              .info.clearfix(style="background-image: url(" + city.image_url + ");")
                .info-text.margin-top-90.col-xs-12
                  span.number.uppercase.fs-12.bob.padding-tb-5
                    | Stores in #{city.city_name}
                .info-overlay
        .col-md-4
          a(href="/app/gear/grouped?activity=" + tag.id title="All " + tag.tag_name + " stores by location")
            .category-el
              .info.clearfix(style="background-image: url(" + tag.image_url + ");")
                .info-text.margin-top-90.col-xs-12
                  span.number.uppercase.fs-12.bob.padding-tb-5
                    | All #{tag.tag_name} Stores
                .info-overlay
        .col-md-4
          a(href="/app/events/upcoming/grouped?location=" + city.id title="All Outdoor Events in " + city.city_name)
            .category-el
              .info.clearfix(style="background-image: url(" + city.image_url + ");")
                .info-text.margin-top-90.col-xs-12
                  span.number.uppercase.fs-12.bob.padding-tb-5
                    | Events in #{city.city_name}
                .info-overlay
        .col-md-4
          a(href="todo" title="All Outdoor schools in " + city.city_name)
            .category-el
              .info.clearfix(style="background-image: url(" + city.image_url + ");")
                .info-text.margin-top-90.col-xs-12
                  span.number.uppercase.fs-12.bob.padding-tb-5
                    | Outdoor schools in #{city.city_name}
                .info-overlay
        .col-md-4
          a(href="/app/groups/grouped?location=" + city.id title="All Active Outdoor groups in " + city.city_name)
            .category-el
              .info.clearfix(style="background-image: url(" + city.image_url + ");")
                .info-text.margin-top-90.col-xs-12
                  span.number.uppercase.fs-12.bob.padding-tb-5
                    | Groups in #{city.city_name}
                .info-overlay
      - if((mode == "all_tag_all_loc") || (mode == "cho_tag_all_loc") || (mode == "all_tag_cho_loc"))
        .col-md-4
          a(href="/app/gear/grouped" title="All Gear Stores and Retailers by Activity")
            .category-el
              .info.clearfix
                .info-text.margin-top-90.col-xs-12
                  span.number.uppercase.fs-12.bob.padding-tb-5
                    | All Stores by Activity
                .info-overlay
        .col-md-4
          a(href="/app/gear/grouped#by-location" title="All Gear Stores and Retailers by Location")
            .category-el
              .info.clearfix
                .info-text.margin-top-90.col-xs-12
                  span.number.uppercase.fs-12.bob.padding-tb-5
                    | All Stores by Location
                .info-overlay
