extends ../layout

block nav_element_list
  li(class="active")
    a(href='/app/home') Home
  li
    a(href='/app/events/upcoming/grouped') Events
  li
    a(href='/app/gear') Gear 
  li(class="social-icon")
    a(href='TODO')
      i(class="fa fa-twitter")
      span(class="hide-for-small")  
  li(class="social-icon")
    a(href='TODO')
      i(class="fa fa-facebook")
      span(class="hide-for-small") 

block content
  .home-search.border-gray
    h1.text-shadow-2.white Look for Adventure!
    form(class="home-radio")
      input(id="gear" type="radio" name="search" value="gear")
      label(for="gear" class="home-radio-label") Gear
      input(id="events" type="radio" name="search" value="events" checked="checked")
      label(for="events" class="home-radio-label") Events 
    div(class="gear")
      h2.white.text-shadow-1  Get equipped.
      form.search.form-inline(action="/app/gear")
        .form-group
          label.sr-only(for="activity_gear") Activity
          select(class="form-control" required type="text" name="activity" id="activity_gear")
            option(value='' selected="selected" disabled="disabled") Choose activity
            option(value=0) All
            each tag in tags
              option(value=tag.id) #{tag.tag_name}
        |  gear in
        .form-group
          label.sr-only(for="store_location") Activity
          select(class="form-control" required type="text" name="location" id="store_location")
            option(value='' selected="selected" disabled="disabled") Choose location
            option(value=0) All locations
            each city in cities
              option(value=city.id) #{city.city_name}
        button(type="submit" class="btn btn-warning ") Go!
    div(class="events")
      h2.white.text-shadow-1 Upcoming Races and Events.
      form.search.form-inline(action="/app/events/upcoming")
        .form-group
          label.sr-only(for='event_activity') Activity
          select(class="form-control" required type="text" name="activity" id="event_activity")
            option(value='' selected="selected" disabled="disabled") Choose activity
            option(value=0) All
            each tag in tags
              option(value=tag.id) #{tag.tag_name}
        .form-group
          label.sr-only(for='event_location') Location
          select(class="form-control" type="text" name="location" id="event_location" required)
            option(value='' selected="selected" disabled="disabled") Choose location 
            option(value=0) All
            each city in cities
              option(value=city.id) #{city.city_name}
        .form-group
          label.sr-only(for="from") From
          .input-group
            .input-group-addon
              span.fa.fa-calendar
            input(class="form-control" type="text" name="start_date" placeholder="from" id="from")
        .form-group
          label.sr-only(for="to") To
          .input-group
            .input-group-addon
              span.fa.fa-calendar
            input(class="form-control" type="text" name="end_date" placeholder="to" id="to")
        button(type="submit" class="btn btn-warning ") Go! 
  hr.home-hr
  .home-explore
    .row
      .explore-head.text-center.border-gray
        | Don't want to search? It's okay, you can explore too!
    .row
      .col-md-3.home-events
        .home-category-head.text-center.border-gray Events
        each tag in tags
          - if(tag.event_count > 0)
              .col-md-12
                a(href="/app/events/upcoming/grouped?activity=" + tag.id + "&location=0", title="All upcoming " + tag.tag_name  + " events all over India")
                  .category-el
                    .info.clearfix(style="background-image: url(" + tag.image_url + ");")
                      .info-text.col-xs-12
                        h2.sm.uppercase
                          | #{tag.tag_name}
                        span.number.uppercase
                          | #{tag.event_count} EVENT
                          - if(tag.event_count >1)
                            | S
                       .info-overlay
      .col-md-3.home-gear
        .home-category-head.text-center.border-gray Gear
        each tag in tags
          - if(tag.event_count > 0)
              .col-md-12
                a(href="todo")
                  .category-el
                    .info.clearfix
                      .info-text.col-xs-12
                        h2.sm.uppercase
                          | Dummy #{tag.id}
                        span.number.uppercase
                          | #{tag.event_count} retailer
                          - if(tag.event_count >1)
                            | S
                       .info-overlay
      .col-md-3.home-groups
        .home-category-head.text-center.border-gray Groups
      .col-md-3.home-featured
        .home-category-head.text-center.border-gray Featured

block extrajs
  script(src="/js/home.js")
