extends ../layout

block content
  .row
    .entity.col-md-8.std-shadow.col-md-offset-2
      - if(group.group_url) 
          a(href=group.group_url target='_blank')
            h1.lg.inline #{group.group_name}
            span.fa.fa-external-link.margin-l-5.fs-16
      - else
          h1.lg #{group.group_name}
      span.location
        span.fa.fa-map-marker.w-20.fs-16.gray
        h2.md.inline #{group.City.city_name}
      - if(group.comments)
          span.description.block
            p.inline!= group.comments
      - if(group.Emails != '')
          ul.emails
            each mail in group.Emails
              li.email
                span.fa.fa-envelope-square.w-20.gray
                a(href="mailto:" + mail.email target="_blank")
                  | #{mail.email}
      - if(group.PhoneNumbers != '')
          ul.numbers
            each number in group.PhoneNumbers
              li.number
                span.fa.fa-phone-square.w-20.gray
                | #{number.number}
      .slinks.clearfix.margin-b-5
        each slink in group.SocialLinks
          include social_link_template
      .tag-container.clearfix
        each group_tag in group.GroupTags
          li.tag
            span
              | #{group_tag.Tag.tag_name}
      .user-res.fs-12
        a#user-error.pointer(title="Report wrong or outdated information") Report error
        |  or 
        a#user-info.pointer(title="Add missing information") missing info
        |  about this outdoor group.
      - if(admin)
          | Dear Admin, if you see something wrong or missing with this group you can modify it 
          a(href="/app/admin/groups/" + group.id, target="_blank") here
  .row
    .sub-heading.text-center.margin-tb-10 Suggestions
    .col-md-4
      a(href="/groups/grouped?location=" + group.City.id title="All Active Outdoor groups in " + group.City.city_name)
        .category-el
          .info.clearfix(style="background-image: url(" + group.City.image_url + ");")
            .right
              i.fa.fa-group.helper-icon
            .info-text.col-xs-12
              span.number.padding-lr-5.uppercase.fs-12.bob.padding-tb-5
                | Groups in #{group.City.city_name}
            .info-overlay
    .col-md-4
      a(href="/groups/grouped" title="All Outdoor Groups by Activity")
        .category-el
          .info.clearfix.all-tag-bg
            .right
              i.fa.fa-group.helper-icon
            .info-text.margin-top-90.col-xs-12
              span.number.padding-lr-5.uppercase.fs-12.bob.padding-tb-5
                | All Groups by Activity
            .info-overlay
    .col-md-4
      a(href="/groups/grouped#by-location" title="All Outdoor Groups by Location")
        .category-el
          .info.clearfix.all-loc-bg
            .right
              i.fa.fa-group.helper-icon
            .info-text.margin-top-90.col-xs-12
              span.number.padding-lr-5.uppercase.fs-12.bob.padding-tb-5
                | All Groups by Location
            .info-overlay
    .col-md-4
      a(href="/events/upcoming/grouped?location=" + group.City.id , title="All outdoor events in " + group.City.city_name)
        .category-el
          .info.clearfix(style="background-image: url(" + group.City.image_url + ");")
            .right
              i.fa.fa-flag-checkered.helper-icon
            .info-text.margin-top-90.col-xs-12
              span.number.padding-lr-5.uppercase.fs-12.bob.padding-tb-5
                | Events in #{group.City.city_name}
            .info-overlay
    .col-md-4
      a(href="/gear/grouped?location=" + group.City.id , title="All outdoor gear stores and retailers in " + group.City.city_name)
        .category-el
          .info.clearfix(style="background-image: url(" + group.City.image_url + ");")
            .right
              i.fa.fa-gear.helper-icon
            .info-text.margin-top-90.col-xs-12
              span.number.padding-lr-5.uppercase.fs-12.bob.padding-tb-5
                | Stores in #{group.City.city_name}
            .info-overlay
    .col-md-4
      a(href="/schools/grouped?location=" + group.City.id , title="All outdoor schools in " + group.City.city_name)
        .category-el
          .info.clearfix(style="background-image: url(" + group.City.image_url + ");")
            .right
              i.fa.fa-building-o.helper-icon
            .info-text.margin-top-90.col-xs-12
              span.number.padding-lr-5.uppercase.fs-12.bob.padding-tb-5
                | Learn in #{group.City.city_name}
            .info-overlay
  .dialog-screen
  .dialog-container.col-md-4.col-md-offset-4#user-form-error
    .dialog-head-container.clearfix.text-center
      span.dialog-head.fs-16.uppercase.inline-block.padding-tb-10
        | please tell us what's wrong.
      span.dialog-close.right.fs-18.pointer
        i.fa.fa-times
    .dialog-body
        form.fs-12(action="/groups/user_error?group_id=" + group.id + "&group_name=" + group.group_name + "&group_city=" + group.City.city_name method="post")
          label.block.fs-12.normal(for="errata_list") What's wrong? *
          input.full.padding-lr-5(type="text", name="errata_list", id="errata_list" required placeholder="Separate each item by a comma.")
          br
          label.block.fs-12.normal.margin-t-10(for="error_description") Please describe what's wrong *
          textarea.full.padding-lr-5(type="text", name="error_description", id="error_description" placeholder="Please provide correct details with links/references if possible." required style="height: 6em;")
          br
          label.block.fs-12.normal.margin-t-10(for="email_error") Your E-mail
          input.full.padding-lr-5.margin-b-10(type="text", name="email_error", id="email_error" placeholder="Optional")
          br
          input(type="submit")
  .dialog-container.col-md-4.col-md-offset-4#user-form-info
    .dialog-head-container.clearfix.text-center
      span.dialog-head.fs-16.uppercase.inline-block.padding-tb-10
        | Something missing?
      span.dialog-close.right.fs-18.pointer
        i.fa.fa-times
    .dialog-body
        form.fs-12(action="/groups/user_info?group_id=" + group.id + "&group_name=" + group.group_name + "&group_city=" + group.City.city_name method="post")
          label.block.fs-12.normal(for="missing_list") What's missing? *
          input.full.padding-lr-5(type="text", name="missing_list", id="missing_list" required placeholder="Separate each item by a comma.")
          br
          label.block.fs-12.normal.margin-t-10(for="missing_description") Please describe what's missing *
          textarea.full.padding-lr-5(type="text", name="missing_description", id="missing_description" placeholder="Please provide details of missing infomation with links/references if possible." required style="height: 6em;")
          br
          label.block.fs-12.normal.margin-t-10(for="email_info") Your E-mail
          input.full.padding-lr-5.margin-b-10(type="text", name="email_info", id="email_info" placeholder="Optional")
          br
          input(type="submit")
block extrajs
  script(src="/js/user_form.min.js")
