extends ../layout

block content
  .row
    .entity.col-md-8.std-shadow.col-md-offset-2
      - if(retailer.website_url) 
          a(href=retailer.website_url target='_blank')
            h1.lg.inline #{retailer.retailer_name}
            span.fa.fa-external-link.margin-l-5.fs-16
      - else
          h1.lg #{retailer.retailer_name}
      span.location
        span.fa.fa-map-marker.w-20.fs-16.gray
        h2.md.inline #{retailer.City.city_name}
      - if(retailer.address_field)
          span.address.block
            i.fa.fa-building.w-20.gray
            | #{retailer.address_field}
      - if(retailer.comments)
          span.description.block
            i.fa.fa-bars.w-20.gray 
            | #{retailer.comments}
      - if(retailer.Emails != '')
          ul.emails
            each mail in retailer.Emails
              li.email
                span.fa.fa-envelope.w-20.gray
                a(href="mailto:" + mail.email)
                  | #{mail.email}
      - if(retailer.PhoneNumbers != '')
          ul.numbers
            each number in retailer.PhoneNumbers
              li.number
                span.fa.fa-phone-square.w-20.gray
                | #{number.number}
      .slinks.clearfix.margin-b-5
        each slink in retailer.SocialLinks
          li.social-link
            - if(slink.link.indexOf('facebook.com') > -1)
                a(href=slink.link target="_blank") 
                  span.fa.fa-facebook-square.color-fb
            - else if(slink.link.indexOf('twitter.com') > -1)
                a(href=slink.link target="_blank") 
                  span.fa.fa-twitter-square.color-tw
            - else if(slink.link.indexOf('plus.google.com') > -1)
                a(href=slink.link target="_blank")
                  span.fa.fa-google-plus-square.color-gp
            - else if(slink.link.indexOf('instagram.com') > -1)
                a(href=slink.link target="_blank")
                  span.fa.fa-instagram.color-in
            - else if(slink.link.indexOf('flickr.com') > -1)
                a(href=slink.link target="_blank")
                  span.fa.fa-flickr.color-flb
            - else if(slink.link.indexOf('youtube.com') > -1)
                a(href=slink.link target="_blank")
                  span.fa.fa-youtube.color-yt
            - else
                a(href=slink.link target="_blank")
                   span.fa.fa-external-link
      //-.brands
      //-  each gear_brand in retailer.GearBrands
      .tag-container.clearfix
        each gear_tag in retailer.GearTags
          li.tag
            span
              | #{gear_tag.Tag.tag_name}
      - if(retailer.location_url)
        .map-embed.margin-t-10
          iframe(src=retailer.location_url width="100%" height="300" frameborder="0" style="border:0")
      - if(admin)
          | Dear Admin, if you see something wrong or missing with this retailer you can modify it 
          a(href="/app/admin/gear/retailer/" + retailer.id, target="_blank") here
  hr.indi-hr
  .row
    .sub-heading.text-center Suggestions
    .col-md-4
      a(href="/app/gear/grouped?location=" + retailer.City.id , title="All outdoor gear stores and retailers in " + retailer.City.city_name)
        .category-el
          .info.clearfix(style="background-image: url(" + retailer.City.image_url + ");")
            .info-text.margin-top-90.col-xs-12
              span.number.uppercase.fs-12.bob.padding-tb-5
                | Stores in #{retailer.City.city_name}
            .info-overlay
    .col-md-4
      a(href="/app/events/upcoming/grouped?location=" + retailer.City.id , title="All outdoor events in " + retailer.City.city_name)
        .category-el
          .info.clearfix(style="background-image: url(" + retailer.City.image_url + ");")
            .info-text.margin-top-90.col-xs-12
              span.number.uppercase.fs-12.bob.padding-tb-5
                | Events in #{retailer.City.city_name}
            .info-overlay

    .col-md-4
      a(href="/app/schools/grouped?location=" + retailer.City.id , title="All outdoor schools in " + retailer.City.city_name)
        .category-el
          .info.clearfix(style="background-image: url(" + retailer.City.image_url + ");")
            .info-text.margin-top-90.col-xs-12
              span.number.uppercase.fs-12.bob.padding-tb-5
                | Learn in #{retailer.City.city_name}
            .info-overlay
    .col-md-4
      a(href="/app/gear/grouped" title="All Gear Stores and Retailers by Activity")
        .category-el
          .info.clearfix
            .info-text.margin-top-90.col-xs-12
              span.number.uppercase.fs-12.bob.padding-tb-5
                | All Stores by Activity
            .info-overlay
    .col-md-4
      a(href="/app/gear/grouped#by-location" title="All Gear Stores and Retailers by Location")
        .category-el
          .info.clearfix
            .info-text.margin-top-90.col-xs-12
              span.number.uppercase.fs-12.bob.padding-tb-5
                | All Stores by Location
            .info-overlay
