extends ../layout

block nav_element_list
  li
    a(href='/app/home') Home
  li
    a(href='/app/events/upcoming') Events
  li(class="active")
    a(href='/app/gear') Gear 
  li(class="social-icon")
    a(href='TODO')
      i(class="fa fa-twitter")
      span(class="hide-for-small")  
  li(class="social-icon")
    a(href='TODO')
      i(class="fa fa-facebook")
      span(class="hide-for-small") 

block content
  .entity.col-md-6
    - if(retailer.website_url) 
        a(href=retailer.website_url target='_blank')
          h1 #{retailer.retailer_name}
    - else
        h1 #{retailer.retailer_name}
    span.location
      - if(retailer.location_url)
          a(href=retailer.location_url)
            span.fa.fa-map-marker
      - else
          span.fa.fa-map-marker
      h3 #{retailer.City.city_name}
    - if(retailer.address_field)
        span.address
          | #{retailer.address_field}
    - if(retailer.Emails != '')
        ul.emails
          each mail in retailer.Emails
            li.email
              span.fa.fa-envelope.helper
              a(href="mailto:" + mail.email)
                | #{mail.email}
    - if(retailer.PhoneNumbers != '')
        ul.numbers
          each number in retailer.PhoneNumbers
            li.number
              span.fa.fa-phone-square.helper
              | #{number.number}
    .slinks
      each slink in retailer.SocialLinks
        li.social-link
          - if(slink.link.indexOf('facebook.com') > -1)
              a(href=slink.link)
                span.fa.fa-facebook-square
          - else if(slink.link.indexOf('twitter.com') > -1)
              a(href=slink.link)
                span.fa.fa-twitter-square
          - else if(slink.link.indexOf('plus.google.com') > -1)
              a(href=slink.link)
                span.fa.fa-google-plus-square
          - else if(slink.link.indexOf('instagram.com') > -1)
              a(href=slink.link)
                span.fa.fa-instagram
          - else if(slink.link.indexOf('flickr.com') > -1)
              a(href=slink.link)
                span.fa.fa-flickr
          - else if(slink.link.indexOf('youtube.com') > -1)
              a(href=slink.link)
                span.fa.fa-youtube
          - else
              a(href=slink.link)
                 span.fa.fa-external-link
    .tags           
      each gear_tag in retailer.GearTags
        li.tag
          span
            | #{gear_tag.Tag.tag_name}
    - if(admin)
        | Dear Admin, if you see something wrong or missing with this retailer you can modify it 
        a(href="/app/admin/gear/" + retailer.City.city_name + "/" + retailer.retailer_name + "/" + retailer.id, target="_blank") here
