extends ../layout

block content
  include school_filter_bar
  .filter-margin
  .heading.text-center
    h1.md= title_
  .category-list
    - if(schools)
        each school in schools
          .col-md-4
            .category-el.b-l-4.clearfix
              .info-media.clearfix
                .info-box.col-xs-8
                  .info-box-sub
                    a(href="/app/schools/" + school.City.city_name + "/" + school.school_name_slug + "/" + school.id)
                      h2.sm #{school.school_name}
                    .city
                      span.fa.fa-map-marker.helper
                      | #{school.City.city_name}
                .img-pre.col-xs-4.clearfix
                  - if(school.img_url_square)
                      a(href="/app/schools/" + school.City.city_name + "/" + school.school_name_slug + "/" + school.id)
                        img.right.b-l-1(src=school.img_url_square alt=school.school_name height="100px")
                  - else
                      a(href="/app/schools/" + school.City.city_name + "/" + school.school_name_slug + "/" + school.id)
                        img.right.b-l-1(src="http://www.alluserpics.com/data/media/29/00857.jpg" alt=school.school_name height="100px")
              .tags.clearfix
                each tag in school.SchoolTags
                  li.tag
                    | #{tag.Tag.tag_name}
    - if(school_tags)
        each school_tag in school_tags
          .col-md-4
            .category-el.b-l-4.clearfix
              .info-media.clearfix
                .infobox.col-xs-8
                  .info-box-sub
                    a(href="/app/schools/" + school_tag.School.City.city_name + "/" + school_tag.School.school_name_slug + "/" + school_tag.School.id)
                      h2.sm #{school_tag.School.school_name}
                    .city
                      span.fa.fa-map-marker.helper
                      | #{school_tag.School.City.city_name}
                .img-pre.col-xs-4.clearfix
                  - if(school_tag.School.img_url_square)
                      a(href="/app/schools/" + school_tag.School.City.city_name + "/" + school_tag.School.school_name_slug + "/" + school_tag.School.id)
                        img.right.b-l-1(src=school_tag.School.img_url_square alt=school_tag.School.school_name height="100px")
                  - else
                      a(href="/app/schools/" + school_tag.School.City.city_name + "/" + school_tag.School.school_name_slug + "/" + school_tag.School.id)
                        img.right.b-l-1(src="http://www.alluserpics.com/data/media/29/00857.jpg" alt=school_tag.School.school_name height="100px")
              .tags.clearfix
                li.tag
                  | #{tag.tag_name}
